<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<h1>Angular Lesson 2 Practice: ngIf</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <movie-list></movie-list>
        </div>

        <div class="col-5">
            <chores></chores>
        </div>
    </div>
</div>
<hr>